.filter {
  min-width: 20%;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 30px;
  border-radius: 4px;
  outline: solid 2px var(--input-outline);
  min-height: 400px;
  max-height: max-content;
  margin-bottom: 120px;
}

.filterList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.35;
  cursor: pointer;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customCheckbox::after {
  content: '';
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease;
  background: url("data:image/svg+xml,%3Csvg fill='%23ffba6a' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00039 10.8004L3.20039 8.00039L2.26606 8.93472L6.00039 12.6691L14.0004 4.66906L13.0661 3.73472L6.00039 10.8004Z'/%3E%3C/svg%3E")
    center/contain no-repeat;
}

.customCheckbox {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
  outline: 2px solid var(--input-outline);
}

.checkboxInput:checked + .customCheckbox {
  outline: 2px solid var(--input-outline);
}

.checkboxInput:checked + .customCheckbox::after {
  opacity: 1;
  transform: scale(2);
}

.checkboxInput:not(:checked) + .customCheckbox {
  outline: 2px solid var(--input-outline);
}

.filterResetBtn,
.filterSetBtn {
  width: 100%;
  padding: 16px 16px;
  border-radius: 4px;
  background-color: var(--btn-danger-bg);
  box-shadow: 0 4px 8px var(--box-shadow);
  transition: transform 0.2s ease-in;
  margin-bottom: 12px;
}

.filterSetBtn {
  display: none;
  background-color: var(--btn-active-bg);
}

.filterResetBtn:hover,
.filterSetBtn:hover {
  transform: scale(1.01);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.mobileFilterBtn {
  display: none;
  margin-bottom: -40px;
}

.closeFilterBtn {
  display: none;
  width: 32px;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filterMobile {
    max-width: fit-content;
    position: absolute;
    top: 64px;
    left: -1000%;
    right: 0;
    z-index: 100;
    transition: left 0.3s ease;
    border-radius: 16px 16px 0 0;
    outline: none;
  }

  .filterMobileOpen {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 100;
    transition: left 0.3s ease;
    outline: none;
  }

  .mobileFilterWrapper {
    position: relative;
    z-index: -10;
    width: 32px;
    height: 32px;
    padding-top: 2px;
    background-color: var(--btn-active-bg);
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--box-shadow);
  }

  .mobileFilterBtn {
    font-family: var(--font-nunito);
    color: var(--btn-text);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .closeFilterBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .filterSetBtn {
    display: block;
  }
}
