:root {
  --main-bg: #fff8e7;
  --secondary-bg: #fffff4;
  --additional-bg: #ffe8c7;
  --main-text: #4a3f35;
  --secondary-text: #5b5752;
  --link-text: #e68a2e;
  --link-text-hover: #c96f1a;
  --btn-text: #3e332a;
  --btn-active-bg: #ffd84d;
  --btn-neutral-bg: #e5e5de;
  --btn-danger-bg: #ffb3b3;
  --box-shadow: #6a6d4440;
  --input-outline: #ffdcae;
  --input-outline-hover: #ffba6a;
  --input-outline-focus: #ffba6a;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: var(--font-nunito);
  color: var(--main-text);
  background: var(--main-bg);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::selection {
  background-color: #c96f1a80;
  color: #fffff4;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 130%;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
}

button,
nav {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 100%;
}

label {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 140%;
}

label::placeholder {
  opacity: 0.7;
}

svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
