.recipeSection {
  width: 100%;
  max-width: min(1280px, 100% - 40px);
  margin: 0 auto;
}

.title {
  padding: 0 40px;
}

.recipesContainer {
  width: 100%;
  display: flex;
}

.embla {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  cursor: grab;
}

.embla:active {
  cursor: grabbing;
}

.emblaContainer {
  display: flex;
  width: 100%;
}

.emblaSlide {
  flex: 0 0 50%;
  display: flex;
  padding: 10px 40px;
}
