.closeIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
}

.portalOverlay {
  position: fixed;
  inset: 0;
  min-height: max-content;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100vh;
}

.portalContentContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: max-content;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.closeButtonWrapper {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  aspect-ratio: 1;
}

.modalBody {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 768px) {
  .closeButtonWrapper {
    top: 2.5%;
    right: 5%;
    width: 32px;
  }

  .portalContentContainer {
    padding: 20px;
    max-width: calc(100% - 40px);
    gap: 9px;
  }
}
