.authForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.fieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: 2px solid var(--input-outline);
  font-weight: 500;
  transition: all 0.2s ease;
}

.inputField:focus {
  outline: 2px solid var(--input-outline-focus);
  animation: glow 3s ease-in-out infinite;
}

.inputMessage {
  border: none;
  resize: none;
  min-height: 200px;
}

.inputField::placeholder {
  color: var(--secondary-text);
  opacity: 0.7;
}

.btnFlexContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  width: 30%;
  min-width: max-content;
  aspect-ratio: 4;
  box-shadow: 0 4px 16px var(--box-shadow);
}

.submitButton,
.logoutButton {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--btn-active-bg);
  color: var(--btn-text);
  font-size: 2.4rem;
  padding: 20px 80px;
  border-radius: 3px;
  cursor: pointer;
}

.submitButton:hover,
.logoutButton:hover {
  transform: scale(1.05);
}

.logoutButton {
  background-color: var(--btn-danger-bg);
}

@media (max-width: 768px) {
  .buttonContainer {
    width: 40%;
    aspect-ratio: 3;
  }

  .authForm {
    gap: 20px;
  }

  .inputField {
    min-height: 40px;
    padding: 10px 8px;
    font-size: 14px;
  }

  .customCheckbox {
    width: 16px;
  }
}

@keyframes glow {
  0% {
    outline: 2px solid #ffba6a40;
  }
  15% {
    outline: 2px solid #ffba6a66;
  }
  30% {
    outline: 2px solid #ffba6a90;
  }
  50% {
    outline: 2px solid #ffba6aff;
  }
  65% {
    outline: 2px solid #ffba6a90;
  }
  90% {
    outline: 2px solid #ffba6a66;
  }
  100% {
    outline: 2px solid #ffba6a40;
  }
}
