.profilePhotos {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileBgWrapper {
  position: relative;
  z-index: 3;
  width: 100%;
  aspect-ratio: 4.5;
  background: var(--btn-neutral-bg);
  opacity: 0.5;
}

.profilePhotoWrapper {
  position: relative;
  z-index: 6;
  margin-top: -10%;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  background-color: var(--btn-neutral-bg);
  border-radius: 50%;
}

.content {
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: start;
}

.profileInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileUsername {
  font-size: 3rem;
  font-weight: 600;
}

.profileRecipeCount {
  font-size: 2rem;
  font-weight: 500;
}

.optionsBtn {
  width: 64px;
  aspect-ratio: 1;
  position: relative;
  z-index: 4;
  margin-top: -100px;
}

@media (max-width: 768px) {
  .profilePhotoWrapper {
    width: 64px;
    height: 64px;
  }

  .profileInfo {
    gap: 10px;
    width: 70%;
  }

  .profileUsername {
    font-size: 2rem;
  }

  .profileRecipeCount {
    font-size: 1.6rem;
  }

  .optionsBtn {
    width: 48px;
    margin-top: -48px;
  }
}
