.recipeSection {
  width: 100%;
  max-width: min(1280px, 100% - 40px);
  margin: 0 auto;
}

.fullCatalog {
  display: flex;
  gap: 80px;
}

.recipesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.favoriteRecipesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pagination button:disabled {
  opacity: 0.7;
  cursor: no-drop;
}

.noRecipes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 40px;
}

@media (max-width: 768px) {
  .fullCatalog {
    flex-direction: column;
  }

  .recipesList {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .favoriteRecipesList {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
